# 1. Cycle Life Data

## Stages and Operations in the Data Life Cycle

<center>
<img src= "./assets/img/cycle_life_data.png">
<center>

### Cleanig Data
* Finding and handling missing values *NULL*, *NA* (How fill them)
* Finding and handling *outliers*
* Finding and handling *duplicated data* (How to determinate the duplicated data)

### Data Pre-Procesing
* Transformation: Normalization, scaling y standarization.

## Types of Datasets

* Multimedia data:
    
    * Multimedia refers to data that represents audiovisual (video, images, audio) information. This data is usually encoded using one of the several standards for such media (for instance, JPEG for digital images or MPEG for audio/video)
    *  Handling multimedia data requires specialized tools: in order to display the image or play the video or music, a special program (a ‘video/audio player’) that understands how the encoding works is needed

* Alphanumeric:

    * Collections of characters used to represent alphabetic (names, e.g. 'blue') and numeric individual e.g. 123.
    * Most methods for data analysis have been developed to deal with alphanumeric data.

> **Alphanumeric dataset** or simply dataset is a collection of data *items* or *rows* or *tuples* in database. *record* in Computer Science, *observation* in statistics, *entity* in *data points* in other contexs.
> 
> Each item describes a real-world event, it consists of a group of related characteristics Such characteristics are called *attributes* in database, *variables* in statistics, *features* in Machine Learning and *properties* in other contex.

<center>

|index|Age|Weight|
|--|----|---|
|1|15|19|
|2|19|20|

</center>

Records or rows for items (r or s notation), and attributes (A notation)

The number of records are *size* and the number of attributes are called *dimentionality*.

Depending on the exact *nature* of the records, datasets can be classified as *structured*, *semistructured*, and *unstructured*.

we will focus mainly on structured (also called ‘tabular’) data, because this is the kind of data that relational databases handle best, but also because this is the kind of data that is most commonly assumed when talking about data analysis.

Relational databases are also perfectly capable of handling semistructured and unstructured data,

The attributes are make up by records, called the *schema of the records*.

<center>

|id|Age|address|
|--|----|---|
|1|15|42-street New york, 12205, New york|
|2|19|4-street New Jersey, 10907, New Jersey|

</center>

The age attributes is a schema of records of simple values, while address is a schema of records of values complex.

## Structure Data

* Structured data refers to datasets where all records share a common schema, i.e.
they all have values for the same attributes. (Homogeneous).

* Tabular data is structured data where all attributes are considered simple.

* If a file is tabular, this is separated by commas or tabs. If this is separated by commas the file is called CSV (Comma Separated Values). This is *portable*, that is, this can be open in MAC or PC.  

* The first column is header and it is separate by commmas, like that:
    ```txt

    first-name, last-name, age, gender
    Mark, Sullivan, 80, M
    Sue, Walk, 70, F
    ```

<center>

|flightid | year| month| day| dep_time| sched_dep_time| dep_delay| carrier| flight| origin |dest|
|--|--|--|---|---|---|---|---|---|---|---|
|1 |2013 |1 |1 |517 |515 |2 |"UA" |1545 |"EWR" |"IAH"|
|2 |2013 |1| 1| 533| 529| 4| "UA"| 1714| "LGA"| "IAH|

</center>

## Semistructured Data

**Semistructured data** is data where each record may have a different schema (also sometimes called heterogeneous data).

In particular, some attributes may be optional, in that they are present in some records and not in others.

Finally, some attributes may have as *value collections* of values as opposed to a *single one*. That is, the values of a attribute can be a list or array. 

In most real situations, semistructured data is used for datasets where attributes are not simple.

Semistructured data includes data in XML and JSON.

* **XML** describes the schema by using *tags*, 
    
    * labels that are enclosed in *angular brackets* (< >). 
    * Tags always come in pairs, composed of an opening and a closing bracket 
    * They can be identified because the closing bracket is exactly like the opening one but with the addition of a backslash. 
    * The value of the attribute goes between the tag pair.`(<id>120080<\id>)`.

* **JSON** uses a different format for the same idea. 

    * Instead of tags, JSON uses *labels* for attributes, which are separated by a colon (:) from their value. 
    * Also, when an *attribute* denotes a collection, the values are enclosed in square brackets ([]), 
    * and when they denote a complex object, they are enclosed in curly brackets ({})
    * This data type is most used for handly semi structure Data. MongoDB is a Data Base system NoSQL that can handly this structure of data.
    
      Azure Cosmos DB, ArangoDB, Amazon DynamoDB, Aerospike, Couchbase are other examples

When complex attributes are present, the schema of a record can be described by what is called, in Computer Science, a **tree**: a *hierarchical structure* with a root or main part that is subdivided into parts. Each part can in turn be further subdivided.

A semistructured dataset can be considered, then, as a collection of tree-like
structures.

In most practical cases the objects in the collection will have a good deal in common, that is, they all will share at least part
of the schema.

This helps in dealing with semistructured data and makes it possible to put such data in a tabular format

This classification of between structured and unstructure data is no rigit, since is possible accomadate irregular data into table.

The complex data can be reduce into a value or give all records a schema with all attributes possible
and leave empty cells for records that do not have values. Later is a a good idea if data is more homogeneous than heterogeneous.

* **Graph data**

    * One particular, important case of semistructured data is **graph data**. Graph data (sometimes called network data) represents collections of objects that are connected (or linked, or related) to each other.

    * A fundamental part of the dataset, then, is not just the objects themselves, but their connections. 

    *  In the context of graph data, the *objects* are called *nodes* or vertices, and the *links* are called *edges*.

    * What makes graph data special is that the relationships between nodes are considered particularly important, so most analysis focuses on properties related to the edges, like finding whether two nodes N1 and N2 are connected (i.e. whether there is a sequence of edges, called a path, leading from N1 to another node N.

    * Recall each node, that is, object is record that have other attributes apart from *link*, like heigh, or other.

    * Sometimes the edges between nodes *have a direction*, that is, they represent a one-way relationship. 

    * Other times, the edges have no direction. Such relationship is undirected; a graph made up (exclusively) of undirected edges is called an *undirected graph*.

    * Sometimes nodes in a graph represent different types of data. For instance, we
    may have a graph where some nodes represent people and other nodes represent
    books, and an edge between a person node and a book node represents the fact that
    the person has read the book. In such cases, nodes usually have a type attribute,
    and the graph is called a *typed graph*.

    * It is interesting to note that, technically speaking, trees are special types of
    graphs. In a tree, edges are directed in the direction parent → son, and each edge
    must have only one parent (although it can have an arbitrary number of sons). Also,
    trees do not admit cycles (paths that end up in the same node that they started)

## Unstructured Data

* Unstructured data refers to data where the structure is not explicit, that is, no tags or markers to separate the records
into attributes.

* Most of the time, unstructured data refers to `text`, that is, to sentences written in some natural language.
* Text data tends to come in one of the two ways:
    * A collection of documents (usually called a corpus), the text in the documents themselves is the main target of analysis.(Here we use regular expression)
    * We may have tabular data where one or more of the attributes are textual in nature. e.g. the attribute *description* of *sample_book.xml*.

## Database Systems
A database is a collection of data stored on a computer. The data in a database is typically organized into records, such as employee records, medical records, sales records, etc. 

There is a STUDENT record (rown) for each student that has attended the university.
Each record contains the student’s ID number, name, graduation year, and ID of
the student’s major department
<center>
<img src= "./assets/img/captura_01.PNG">
<center>

* Databases must be persistent. Otherwise, the records would disappear as soon as the computer is turned off.

* Databases can be shared. Many databases, such as our university database, are intended to be shared by multiple concurrent users.

* Databases must be kept accurate. If users cannot trust the contents of a database, it becomes useless and worthless.

* Databases can be very large. The database of Fig. 1.1 contains only 29 records, which is ridiculously small. It is not unusual for a database to contain millions (or even billions) of records.

* Databases must be usable. If users are not able to easily get at the data they want,
their productivity will suffer, and they will clamor for a different product.

### Record Storage

A common way to make a database persistent is to store its records in files. The type file used is text file.

This approach is too inefficient to be useful. It has to rewrite on one hand, but on the other hand a long time to read.

### Multi-user Access

When many users share a database, there is a good chance that they will be accessing some of its data files concurrently (simultaneously). This can generate some problems. One of them don't save correctly.
A solution is limit the concurrence.

In general, a database system must be able to detect when a user is about to perform an action that conflicts
with an action of another user and then (and only then) block that user from executing until the first user has finished.

### Type of domain
In Python is known as data type. For given data record (row) a feature (or atribute) provides a value of its domain (set of values).

* Nominal/Categorical Data/qualitative

* Ordinal Data

* Numerical Data/quantitative

* When the data already exist
  * We access it and export file in order to use other tool as Python.
  * Or clean the data and preprocesing (EDA). and then useing Python.

* The advantages of database over Python are:
  * better manage of big data. It has more tools.
  * databases offer strong control access: we can carefully monitor and limit access to the data (confidentiality).

* If the data arrives periodically, or all at once but is later updated (that is, if data changes at all), the database offers tools to handle this evolution of data that do not exist in R or Python.

# 2. Relational Data

* Relational database systems store data in repositories called databases or schemas.

* We use *database* for the data repository and reserve *schema* for the description of the structure

* After starting a database server and connecting to it either create a database or connect it.

* Supponse don't have a database, so we will create one.

* Create the database

  * The name of data base must make sense about what it contain
  * Each server (user) can store severals database
  * If this happen, we must specify which database to work

* Create tables. Recall a database is a colection of tables.

  * Components of a table are *name*, *schema*, *extension* and *primary key*.
  * The name of *table* must unique inside a *database*. 
  * This is followed by a list of *attributes*. An *attribute* has a *name* (must unique among the attributes) and data type.

In [ ]:
-- Create a database `AppUser`
CREATE DATABASE AppUsers;

-- Use a specific database `AppUser`
USE AppUsers;

-- Create table Employees 
CREATE TABLE Employees(
EmplName CHAR(64),
Age INT,
BirthDate DATE,
Salary FLOAT
  )

## Data type

A data type refers to the way in which a computer represents data values.

* String: In CS sequence of characters made up of combination of number and letter (and white spaces if is allowed). Used to represent qualitative data.
  * Examples: 'female', 'South America', '102'.
  * Strings are also can be used to give names to database elements, like tables and
attributes on them; these names are called *identifiers*. MySQL  allow identifiers with and without quotes; however, when not using quotes,
certain restrictions apply: an identifier cannot use hyphens or start with a digit or
an underscore or use a reserved SQL word (like CREATE, ATTRIBUTE, etc.).
When using quotes, these restrictions are all lifted.
  * *size*: The size can be fixed or no fixed.
    ```mysql
    name_col char varying(n) 
    ```
    When a string value is shorter than the maximum size n, variable size strings adopt the size of the actual value.
    ```mysql
    name_col char(n) 
    ```
    while fixed size
strings are padded with whitespace (up to the maximum n characters). The max *n* is 256.
  
    In actually both return same results. And dennied more characters than n.

* Numbers: 
  * *int* can be 
    ```mysql
    name_col int;
    ```
  * *double precision* data type offers 15 digit precision
    ```mysql
    name_col double precision;
    ```
  * *bigint* can store integer values between −263 and +263
    ```mysql
    name_col bigint; 
    ```
  * *float*
    ```mysql
    name_col float; 
    ```
  * *float8* offers 17 significant decimal digits
    ```mysql
    name_col float8; 
    ```

* Temporal information types:
    
  Usually, *date*, *time*, *timestamp*, and *interval* types
  are supported. 
  * A date is a combination of year, month, and day of the month
  that denotes a certain calendar day. The values are like '2020-05-10'.
    ```mysql
    name_col date
    ```
  * A time is composed of hour-minute-second
  parts (some systems allow times with further precision, going down to tenths and
  hundreds of second). The values are like '15:01:30'
    ```mysql
    name_col time
    ```
  * A timestamp is a combination of a date and a time, with all
  the components of both. Finally, an interval is a pair of timestamps intended to
  denote the beginning and end of a time period. The values are like '2020-05-10 15:10:30'
    ```mysql
    name_col timestamp
    ```

* Booleans: Values like True or False, but the output are 1 (True) or 0 (False)
    ```mysql
    name_col boolean
    ```

In [ ]:
CREATE DATABASE IF NOT EXISTS FLIGHT;

In [ ]:
USE FLIGHT;

CREATE TABLE NY_FLIGHTS(
    flightid int,
    col_year int,
    col_month int,
    col_day int,
    dep_time int,
    sched_dep_time int,
    dep_delay int,
    arr_time int,
    sched_arr_time int,
    arr_delay int,
    carrier char(2),
    flight char(4),
    tailnum char(6),
    origin char(3),
    dest char(3),
    air_time int,
    distance int,
    col_hour int, 
    col_minute int, 
    time_hour timestamp);

* Information about the date of the flight is expressed by 3 attributes, year, month,
and day.
* It is easy to extract parts from the original value and to concatenate (put
together) strings.
* If breaking the value into parts is not an easy task (for instance, in real life dealing with dates is usually much more complicated),
* Many times, the granularity level at which to express the data is decided for us

## Inserting Data

* A row represents a record, object, or event; it gives a sequence of data values, one value
for each attribute in the schema.

In [ ]:
-- INSERT ROW A DEFAULT ORDER
INSERT INTO ny_flights VALUES(1, 2013, 1, 1, 517, 515, 2, 830, 
819, 11, "UA", 1545, "N14228", "EWR", "IAH", 227, 1400, 5, 15,
'2013-01-01 05:00:00');

* Note that, since each value must match some attribute in the schema, we must
pair values with attributes. This is done in one of the two ways:
    * Simply enumerating the values will pair them up with attributes following the
order used in the CREATE TABLE statement (the default order). 
    * Specifying a customer order in the INSERT statement.
    * Given a table **T**, and A, B and C the attributes.

In [ ]:
-- INSERT A SPECIFIC ORDER
INSERT INTO ny_flights(col_day ,col_year) VALUES
(3, 2010);

* The case where data does not exactly follow the schema. SQL offers some flexibility
for the cases where we have incomplete data (some values are missing): a special
marker, called the NULL marker, can be used to signal that a value is missing

In [ ]:
-- INSERT ROW A DEFAULT ORDER BY INCOMPLETE
INSERT INTO ny_flights VALUES(2, 2013, 1, 1, null, null, 4,
850, 830, 20, "UA", 1714, null, "LGA", "IAH", 227, null, 5,
29, '2013-01-01 05:00:00');

* To destroy a table

In [ ]:
-- tablename that we can drop or eliminate
DROP TABLE tablename;

* All systems provide a method to retrieve information about a table, including its schema. In MySQL, there is a command

In [ ]:
-- TO SHOW INFORMATION OF SOME ATTRIBUTES
SHOW TABLES FROM FLIGHT;

-- show columns that belong to NY NY_FLIGHTS table
USE FLIGHT;
SHOW COLUMNS FROM NY_FLIGHTS;

Even though database tables can be depicted as described in the previous chapter,
it is important to note that the order of the columns or the rows is completely
irrelevant. In other words, a table with the same number, type, and names of
columns in a different order would be considered to have the same schema. And
two tables over the same schema with the same rows, even in different order,
would be considered to have the same data.

## Keys

* Identifier of a row. When we create tables, we must identify and declare keys for each table.
* This must be unique (what should never happen is that a key is present in two (or more) different rows.) and it **one** of the columns can be a mix from a combination of attributes.
* We may have situations in which a table has more than one key. In such a scenario, we choose one key to be the **primary key** of the table.
* Sometimes we need to create the key called idenfier (*id*). Usually, an id is simply an integer that is assigned to each row by giving a 1 to the first row inserted in the table, a 2 to the second row, etc
* They technically satisfy all the requirements
of a key, but (unlike other attributes) do not refer to anything in the real world.
* Therefore, they are useless for most data analyses. Second, if there is a key in a
table, and we decide to create an id, the key is still there, and if it goes undetected
(so it is not even declared as UNIQUE) this may lead to some problems later on.
> The moral of the story is that we should not rush to create ids; rather, we should
examine the existing attributes carefully to identify any possible keys

In [ ]:
-- TABLE CREATED WITHOUT PRYMARY KEY
CREATE TABLE books (
book_id INT,
title VARCHAR(100) NOT NULL,
author VARCHAR(100),
publisher VARCHAR(100),
num_pages INT);

-- WE CAN MODIFY A TABLE AND USING AN ATTRIBUTE LIKE KEY
ALTER TABLE books ADD PRIMARY KEY AUTO_INCREMENT (book_id);

-- OR WE CAN CREATE KEY WHEN WE CREATE THE TABLE
DROP TABLE books; -- FIRST DROP THE TABLE CREATED ALREADY
-- NOW WE CREATED AGAIN
CREATE TABLE books (
book_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, -- <
title VARCHAR(100) NOT NULL,
author VARCHAR(100),
publisher VARCHAR(100),
num_pages INT);

This setting tell us:
* If a (primary) key contains nulls, the system
cannot ascertain whether it is a correct key or not. 
* If we declare a (primary) key and
misuse it (by entering the same value of the so-called key in two distinct tuples), the
system will reject the insertion because it violates the condition of being a key.

## Organizing Data into Tables

*Wide (Stacked) and*


<center>

|Person| Age| Weight|
|-|-|-|
|Bob| 32| 128|
|Alice| 24| 86|
|Steve| 64| 95|

</center>

*Narrow (Unstacked) Data*

<center>

|Person| Variable| Value|
|-|-|-|
|Bob| Age| 32|
|Bob| Weight| 128|
|Alice| Age| 24|
|Alice| Weight| 86|
|Steve| Age| 64|
|Steve| Weight| 95|

</center>

In the wide table the key is Person, suggesting that each row describes a person, while in the narrow table the key is (Person, Variable), a strange combination that is a hint that something is not quite right.

*Narrow/stacked Data*

<center>

|Product| S| M| L|
|-|-|-|-|
|Shirt| 12.4| 23.1| 33.3|
|Pants| 3.3| 5.3| 11.0|

</center>

*Wide/unstacked Data*

<center>

|Product| Size| Price|
|-|-|-|
|Shirt| S| 12.4|
|Shirt| M| 23.1|
|Shirt| L| 33.3|
|Pants| S| 3.3|
|Pants| M| 5.3|
|Pants| L| 11.0|

</center>

A proper table data (called *tidy data*) is **wide/unstacked**. To achieve this, it follows certain conventions
* All values are in the data cells, never in the schema (as a name of a features).
  * For instance, S (small), M (medium), and L (large) are values of attribute size, so they should be in data cells, not part of the schema.
* All attributes are in the schema, never in the data
  * For instance, Age and Weight are attributes of a person, so they should be in the schema, not in the data
* Each row corresponds to a data record (observation, in statistics) and each column
to an attribute (variable, in statistics). 
  * Intuitively, in a table about people we want each row to describe a person

## Database Schemas

* Heterogeneous Data:

  We may have records in our dataset that are not completely homogeneous: while sharing many common attributes, some entities may be somewhat different. This may be due to some attributes being present only under certain circumstances and not applying to each record. These values are filled with NULLs or split the data, each one must be full filled.

We can split the table
<center>
<img src= "./assets/img/Captura_db_schema_01.PNG">
</center>

To

<center>
<img src= "./assets/img/Captura_db_schema_02.PNG">
</center>

## Multi-valued Attributes

we have that some records are characterized by attributes that have several values for a given record (these are called multi-valued attributes in database textbooks).

* In business applications, it is common that we think in terms of "transactions," each one of each involves a set of products.
* To describe this data, we usually assign an identifier to each transaction and associate all involved products with the transaction they belong to.

<center>
<img src= "./assets/img/Captura_db_schema_03.PNG">
</center>

Note that, even though `Transaction-id` is meant to identify the transaction, the key of this table is `(Transaction-id, Product)`, since the key needs to be unique for each row.

**Normalization**

Consists of spreading the data into several tables by separating the multi-valued attributes to the single-valued ones.
* Here the multi-valued attribute are Date, Time and Store.


<center>
<img src= "./assets/img/Captura_db_schema_04.PNG">
</center>


<center>
<img src= "./assets/img/Captura_db_schema_05.PNG">
</center>

* The key of the first table is Transaction-id, as it stores each transaction information in one row. This is possible because only single-valued attributes are used in the schema of the table. Conversely, the second table stores the multi-valued attribute Product and (as stated above) has a different key. 
* However, it keeps a copy of Transaction-id so it can connect records to the transactions as described in the
previous table. 
* Copies of primary keys are used in databases to keep connections in data and are called foreign keys.

* The normalization avoid *anomalies*, situations where the database may be left in an inconsistent state by changes (inconsistency here means that data in some tuples contradicts the data in other tuples).

## Complex Data

> The strategy of normalization is also used in this third scenario: situation in which we must deal with complex data.

The most scenarios the connections among event/entities are binary (they involve two events/entities) and, for the purposes of database design, they can be classified in one of the three types:

* A collection of record I1 has a **one-to-one** relationship with a collection of records I2 if a record in I1 is related to only one record in I2 and vice versa (a record in I2 is related to only one record in I1). 
  * For instance, assume we have a demographic database with data about people, but also data about addresses (the exact longitude/latitude, state, etc.) and that each person is associated with one address and each address with one person.
* A collection of record I1 has a **one-to-many** relationship with a collection of records I2 if a record in I1 is related to only one record in I2 but a record in I2 may be related to several records in I1.
  * For instance, we can assume that some customers have placed several orders.

* A collection of record I1 has a **many-to-many** relationship with a collection of records I2 if a record in I1 may be related to several records in I2 and vice versa (a record in I2 may be related to several records in I1).
  * For instance, assume we have a dataset of different chemical compound suppliers and another one of chemical laboratories. Each laboratory buys from several suppliers; each supplier sells to several laboratories.

In general, we want each event/entity (for instance transaccion/customer) to have its own table (table for transaccions and table for customer).Here we have other example.

* A table for *Patients* may have *attributes* like *Name*, *date-of-birth*, *insurance-company*, etc., while a table
for *Studies* may have *attributes* like *date-started*, *sponsor*, and so on.

In databases the relationship between these tables is achieved when the *primary key* table of entity is copied to table event/entity (primary key copied to another table is called a foreign key in SQL).

In [ ]:
--------------------------------------------------------
-------------------- ONE-TO-ONE -----------------------
--------------------------------------------------------

-- Create a table  PEOPLE 

CREATE TABLE PEOPLE (
    PRIMARY KEY(Name_people),
    Name_people VARCHAR(64),
    first_name VARCHAR(32),
    last_name VARCHAR(32)
    );

-- Create a table named ADDRESS
-- with primary key (street_number, street_name, city).
-- That mean we can't insert two address for a person

CREATE TABLE ADDRESS (
    street_number INT,
    street_name VARCHAR(128),
    city VARCHAR(64),
    Name_people VARCHAR(64),
    FOREIGN KEY(Name_people) REFERENCES PEOPLE(Name_people), 
    PRIMARY KEY(street_number, street_name, city)
    );

-- WHEN WE INSERT THE VALUES, THESE MUST HAVE 
-- THE SAME ORDER IN WHICH WERE CREATED 

INSERT INTO PEOPLE VALUES 
('Dante Toribio', 'Dante', 'Toribio'),
('Sofía Mendez', 'Sofía', 'Mendez'),
('Valeria Rojas', 'Valeria', 'Rojas'),
('Gregorio Zull', 'Gregorio', 'ZUll');

INSERT INTO ADDRESS VALUES
(1001,'UNION', 'LIMA' ,'Dante Toribio'),
(1005, 'UNION','LIMA' ,'Sofía Mendez'),
(5004, 'SAN MARCOS', 'CHICLAYO' ,'Valeria Rojas'),
(2001,'PATRON' , 'HUACHO' ,'Gregorio Zull');

-- -----------------------------------------------------
-- ---------------- ONE-TO-MANY-------------------------
-- -----------------------------------------------------

CREATE TABLE CUSTOMER(

    PRIMARY KEY(CustomerID),
    CustomerID int,
    NameCustomer char(64),
    YearCustomer int
);

create table ORDERS(
    primary key(OrderID),
    foreign key(CustomerID) references CUSTOMER(CustomerID) on update cascade,
    OrderID INT,
    CustomerID int, 
    DateCustomer char(32)
);

-- In this order are created and filled (but in a next step).

INSERT INTO CUSTOMER VALUES
(1012, 'Fabiola', 20),
(1013, 'Keyla', 30),
(1014, 'Lucía', 50);


INSERT INTO ORDERS VALUES
(123, 1012, '15/10/2021'),
(124, 1012, '15/10/2021'),
(125, 1013, '15/10/2021'),
(126, 1013, '15/10/2021'),
(127, 1014, '15/10/2021');

Bottom is explained the command `on update cascade`.

Note that **the type and number of attributes in the foreign key must match the primary key it copies**:

* If the primary key is a single attribute of type integer (as in this example), the foreign key must be a single attribute of type integer. 

* If the primary key were made of two attributes, one of type string and one of type date, any foreign key should also have two attributes, one of type string and one of type date.

The **order in which is filled the tables** is firstly the table that contains only *primary key* (table entity). Then, the table that contains both *primary key* and *foraign key* (table event/entity). 

To help keep consistency, a database offers several (optional) commands when declaring foreign key.
  * ON [DELETE|UPDATE] [CASCADE|SET NULL|SET DEFAULT|RESTRICT]


`on update cascade` means that if we do some changes in the primary key for the table entity, these changes is spreaded in other tables that contains this primary key but as foraing key.

we can imagine what the command `on delete cascade` do.

In [ ]:
-- The command to updated values in a table.
UPDATE CUSTOMER SET CustomerID=1015 WHERE CustomerID =1012 ;

TransactionID is the primary key of the table describing transactions, but is also part of the schema (and part of the key) of the table that relates transactions with their records. Hence, in the second table above TransactionID is a foreign key.

**Example of Many-to-Many Relationships**

In [ ]:
CREATE TABLE SUPPLIER (
    PRIMARY KEY(IdSupName),
    IdSupName INT,
    SupName  character(100));

CREATE TABLE LABORATORY ( 
    PRIMARY KEY(IdLabName),
    IdLabName INT, 
    LabName character(100));

CREATE TABLE COMPOUND ( 
    PRIMARY KEY(IdCompName),
    IdCompName INT, 
    CompName character(100));

CREATE TABLE BUYS (
    PRIMARY KEY (IdSupName, IdLabName, IdCompName),
    FOREIGN KEY(IdLabName) REFERENCES LABORATORY(IdLabName) on update cascade,
    FOREIGN KEY(IdSupName) REFERENCES SUPPLIER(IdSupName) on update cascade,
    FOREIGN KEY(IdCompName) REFERENCES COMPOUND(IdCompName) on update cascade,
    IdSupName INT,
    IdLabName INT,
    IdCompName INT,
    Amount INT,
    BuyDate char(32));

Interpretation of the primary key:

`The same seller can't sell the same compound twice at the same laboratory, but the seller can sell the same product to different laboratory and the a laboratory can buy the same compound to different sellers `

In [ ]:
INSERT INTO SUPPLIER VALUES 
(1010, 'Silva Medic S.A.C.'),
(1011, 'Feros Medic S.R.L.');

INSERT INTO LABORATORY VALUES
(2020, 'Suiza Lab S.A.'),
(2021, 'New Lab S.A.');

INSERT INTO COMPOUND VALUES
(3030, 'PANADOL 300ML'),
(3031, 'PARACETAMOL 500ML');
(3032, 'ALTANGINA 800ML');

INSERT INTO BUYS VALUES
(1010, 2020, 3030, 20, '28/01/2021'),
(1010, 2020, 3031, 80,'28/01/2021'),
(1010, 2021, 3030, 5,'28/01/2021'),
(1010, 2021, 3031, 10,'28/01/2021'),
(1011, 2020, 3032, 40,'28/01/2021'),
(1011, 2021, 3032, 60,'28/01/2021');

In the case of a many-to-many relationship we create a separate table where we copy, as foreign keys, the primary keys of the tables representing the records involved in the relationships. These two foreign keys, together, are the primary key of this new table.

Problems with the time.

Temporal information can make the schema of a database more complex.

In [ ]:
CREATE TABLE PARTICIPANT (
    PId INT PRIMARY KEY);

CREATE TABLE MEASUREMENTS (
    FOREIGN KEY(PId) REFERENCES PARTICIPANT(PId) ON UPDATE CASCADE,
    PId INT,
    Date_test DATE,
    Time_test TIME,
    blood_pressure_sys INT,
    blood_pressure_dia INT,
    respiratory_rate INT,
    heart_rate INT,
    temperature FLOAT,
    PRIMARY KEY (PId, Date_test, Time_test));

### Other Types of Data

Here we discuss how to store semistructurre and unstructured data in the database.

**XML and JSON Data**
* XML and JSON are used with hierarchical or tree structured data.
* Hierarchical data can be stored inside the database in one of the two ways: by flattening it or by using the new XML or JSON data types added to the SQL standard.
  * In this first case, we can put hierarchies in tables in one of the two ways:
normalized and unnormalized.

## Getting Data In and Out of the Database

Once a table or tables have been created in a database, it is time to bring in the data

### Importing and Loading Data
* The two most common ways to put data in the tables of a database are insert tuples or to load in bulk.

* If data is already in a file, it is possible to load the data into the database in one swoop.

Generally, one specifies the location of the file in the computer, the table to load into, and provides a description of how the lines in the file are to be broken down into the values that make up a row/tuple by indicating how values are separated from each other and a few other characteristics.

The loader will read the file line by line and split each line according to the given instructions. It will expect that there are as many values on each line as there are on the schema of the table and of the right type.

However, datasets often come with dirty data and this creates a problem when trying to load the data in the database.

**Missing values**
* Lack of values can be manifested in a file in two ways: by an *empty field* (that is, two consecutive appearances of the delimiter) or by some *marker* (markers like ‘\N’ or ‘NA,’ for ‘Not Available,’ are particularly common). 
* The solution depend on system

**The string** can included commas, dots, sigle quotes or double quotes. `"Spring, Summer, Fall, Winter ... and Spring"` for example.

**Dates and times** are typically recognized by most database systems if they follow
a certain format

don't work 
##########################################################################################################################



1. If there was an error to load the data, we can go at `C:\ProgramData\MySQL\MySQL Server 8.0`.

2. In the name file `my`, we must change the current setting for `secure-file-priv = ""`

3. Then in `Services` restore the servicios of mysql.

4. The root where we have to save the file in order to load the data depend on the table that we can to fill
  `C:\ProgramData\MySQL\MySQL Server 8.0\Data\employees` for the database.
  
5. Recall the order in which the load of the data depend on the relationship. See above.

> An IBD file is a MySQL table created by the InnoDB database engine. It contains a table-specific tablespace and index data. IBD files are created when MySQL's innodb_file_per_table option is enabled, which it is by default.
> 
>

The follow lines of code load the `load_data_1.csv` into table orders1.

',' is sep, eclosed is ' (single quote) for string, '\n' is the end of a line, ignore 1 lines is for ingoring the first line.

In [ ]:
LOAD DATA infile "load_data_1.csv"
into table orders1
fields terminated by ','
escaped by '\n'
ignore 1 lines;

LOAD DATA infile "lab.txt"
into table laboratory
fields terminated by ','
escaped by '\n';

In this example load_data_2 has 4 columns, so we need to specify the columns to load.
We only add a command, `(OrderID,CustomerID,@dummy ,DateCustomer)`.

The third column is not loading.

In [ ]:
LOAD DATA infile "load_data_2.csv"
into table orders1
fields terminated by ','
enclosed by "'"
escaped by '\n'
ignore 1 lines
(OrderID,CustomerID,@dummy ,DateCustomer );

###########################################################################################################################

## Load files by `wizard`

* Go to Navigator (schemas) > Table Data Import Wizard > Paste the path where the file is >
  * Choice or existing table or create a new table (we can choice if we want to create a new db or not) > 
  * next > next 

## Load sql file
* Sever > Data Import > Import from self-Contained file, the search the `file.sql`, Then click in Import Progress and Start Import.

## Updating Delete Data

Once data is in the table, we may need to modify some of it. Modifications are accomplished with two SQL commands: `DELETE` and `UPDATE`.

In [ ]:
-- UPDATE THE TABLE tableName 
UPDATE TABLE tableName 
SET colName = something
WHERE condition;

In [ ]:
-- DELETE THE OBSERVATIONS FROM THE TABLE THAT MATCH THE CONDITION.
DELETE FROM tableName 
WHERE condition;

The DELETE statement works as follows: on each row of the table, the condition is checked. If it returns True, then the row is deleted

In [ ]:
USE COMPLEX;

DELETE FROM BUYS
WHERE IdCompName = 3032;

DELETE FROM COMPOUND
WHERE IdCompName = 3032;

Supposing that the name of the compound is not allow to sell-buy to the market, so this must removed. Since the IdCompName is a key foraign in the the table BUYS, first we must delete the IdCompName in the table BUY.

In [ ]:
-- TO UPDATE VALUES
UPDATE COMPOUND 
SET IdCompName = 3036
WHERE IdCompName = 3031;

This command update the IdCompName from 3031 to 3036, not only in the table COMPOUND but in BUYS as well.

The UPDATE command is used to change existing data.

## Exporting Data

Sometimes we are interested in taking data from the database and putting it in a file, so we can use it with other tools. This is called exporting or dumping the data.

If we want to saved a copy (*backup*)

In [ ]:
USE COMPLEX;
SELECT * INTO OUTFILE "COMPLEX.csv"
FIELDS TERMINATED BY ','
ENCLOSED BY "'"
ESCAPED BY '\n'
FROM BUYS;

THE DIRECTORY WHERE IS SAVED IS 
* `C:\ProgramData\MySQL\MySQL Server 8.0\Data\complex`
* COMPLEX POINT OUT THE NAME OF THE DATABASE, IN OURE CASE, COMPLEX

# Data Cleaning and Pre-processing

Using Mysql workbench we will create (import) a table

* First we create a database
    ``` sql
    CREATE DATABASE data_product;
    ```

We can create a table with come commant SELECT

* https://dev.mysql.com/doc/refman/8.0/en/create-table-select.html

* https://dev.mysql.com/doc/refman/5.7/en/create-table-like.html

* https://dev.mysql.com/doc/refman/8.0/en/create-temporary-table.html

## The Basic SQL Query

In [ ]:
-- The SELECT statement
-- SYNTAX

SELECT result_list
FROM data_sources
WHERE condition;

* result_list: This list determines what gets retrieved from the database like `title`, `code_num`
* data_sources: denotes where the data examined for this query comes from. This can be other query called inner query as well.
* Where: is the condition.`and`, `or`, `not`.
  * For number, arithmetic conditions (comparisons using
<, ≤, =, >, ≥) are common
  * For string can be used regular expression when we work with string. But we can use 
  `like` `%dan%` the meaning is contain.

In [ ]:
CREATE DATABASE IF NOT EXISTS LINIO_SAMPLE;
-- IMPORT DATA BY WIZARD FROM 
-- C:\Users\LENOVO\Desktop\python_course\PySpark\Learning\assets\files
-- PRODUCTS
-- SALES_NORMALIZE
-- USERS

USE LINIO_SAMPLE;

If we want to rename a table

In [ ]:
RENAME tableName  TABLE TO newTableName;

In [ ]:
SELECT PRODUCT_ID, (OLD_PRICES - CURRENT_PRICES)/OLD_PRICES AS DISCOUNT
FROM PRODUCTS
WHERE CURRENT_PRICES > 50;

If we want to sort the result. Note we need to use `GROUP BY` on `PRODUCT_ID`(which is unique), then we use `ORDER BY`. This technique is for any table whose need to be order

In [ ]:
SELECT PRODUCT_ID, (OLD_PRICES - CURRENT_PRICES)/OLD_PRICES AS DISCOUNT
FROM PRODUCTS
WHERE CURRENT_PRICES > 50
GROUP BY PRODUCT_ID
ORDER BY DISCOUNT;

In [ ]:
SELECT *
FROM (SELECT * FROM USERS
WHERE AGES>40) AS AGES_40
WHERE DEPARTMENT='Lima' ;

Maybe Lima is no written always with Capitalize, in this case, we use `RegEx`

In [ ]:
SELECT *
FROM (SELECT * FROM USERS
WHERE AGES>40) AS AGES_40
WHERE DEPARTMENT REGEXP '^[Ll]ima$' ;

Another available predicate (both for numbers and strings) is `IN`. It compares an
attribute to a list of constants; if the value of the attribute equals any of the constants,
the `IN` predicate is satisfied

In [ ]:
SELECT COUNT(*)
FROM  USERS
WHERE DEPARTMENT IN ('Ica', 'Puno');

In [ ]:
-- BETWEEN
SELECT COUNT(*)
FROM PRODUCTS
WHERE CURRENT_PRICES BETWEEN 35 AND 50;

sometimes we may get duplicates, that is, two or more rows that contain the exact same values.

SQL provides the keyword `DISTINCT` that can be added to SELECT to signal to the system that we want duplicates eliminated.

In [ ]:
-- RETURN THE TABLE THAT CONTAIN UNIqUE PRODUCT_ID
SELECT DISTINCT(PRODUCT_ID) AS ONLYS
FROM SALES_NORMALIZE;

-- COUNT UNIqUE PRODUCT_ID
WITH ONLYS_TABLE AS (SELECT DISTINCT(PRODUCT_ID) AS ONLYS
					  FROM SALES_NORMALIZE)
SELECT COUNT(ONLYS) AS UNIQUE_ID_PRODUCTS
FROM ONLYS_TABLE;

### Joins

**Cartesian Product**

<center>
<img src= "./assets/img/cartesian_01.PNG">

<img src= "./assets/img/cartesian_02.PNG">

Because *CPs* are associative, we can do this in any order, and the result is still the same

A way of add a collumn in a table is

In [ ]:
WITH T AS (SELECT MAX(CURRENT_PRICES) AS CURRENT_PRICES_MAX
		   FROM PRODUCTS)
SELECT CURRENT_PRICES/CURRENT_PRICES_MAX AS RATIO_CURRENT_PRICES
FROM PRODUCTS, T;

In this case we add the max value fo price in the table `PRODUCTS`

CPs are only needed in certain occasions

In [ ]:
USE WORLD;

SELECT *
FROM COUNTRY JOIN CITY ON (COUNTRY.CODE= CITY.COUNTRYCODE);

In [ ]:
-- -----------------------------------------------
-- JOIN MORE ELEGANT = CARTESIAN PRODUCT + FIRTER
-- -----------------------------------------------
SELECT * 
FROM country  AS CountryTab , city as CityTab
WHERE (CountryTab.Code = CityTab.CountryCode);

#### Functions

`(Standard) functions`. These are functions that are applied to the value of some attribute in a row and yield a (single) result. Since most attributes are of type string, numerical, or date, the typical system has string functions (that is, functions that take a string value, and perhaps some additional parameters, and manipulate the value in certain ways), numerical functions (including typical arithmetic functions), and date functions (that is, functions that take a date value, and perhaps some additional parameters, and manipulate the date in certain ways).

* `POW(m,n)`: $m^n$
* `SQRT(m)`: $\sqrt{m}$
* `POW(m,1/n)`: $\sqrt[n]{m}$
* `LOG(m, b)`: $log_{b}m$
* `MOD(m,n)`, which returns the remainder of dividing m by n (and is often used
to compute modular arithmetic)
* `CEIL(m)`, which returns the ceiling of m (that is, the least integer that is greater
than or equal to m)

Aggregate functions. These are functions that take in a collection of values and produce a single result. Aggregate functions can only be used in the SELECT
clause.
* `AVG` (average or mean), 
* `SUM` (sum of values), 
* `COUNT` (count number of values), 
* `MIN` (minimum), and 
* `MAX` (maximum)
* `std` or `stddev`

In [ ]:
-- STRING FUNCTIONS

USE WORLD;
SHOW TABLES from WORLD;

-- LOWER
SELECT LOWER(COUNTRYCODE)
FROM CITY;

-- CONCAT
SELECT  CONCAT(CITY.NAME , '-', CITY.DISTRICT) AS NAME_DISTRICT
FROM CITY;

-- TRIM => TO  REMOVE THE WHITE SPACES AT LEFT AND RIGHT
-- LTRIM => TO  REMOVE THE WHITE SPACES AT LEFT
-- RTRIM => TO  REMOVE THE WHITE SPACES AT RIGHT

In [ ]:
-- --------------
-- CONDITIONALS
-- --------------
-- THE DEMOGRAPHY OF A COUNTRY RESPECT TO CONTINENT (IN %)
-- COUNT THE COUNTRIES THAT OVER 1%
WITH TY AS	(WITH T AS (SELECT CONTINENT AS CONTINENT_T, SUM(POPULATION) AS POPULATION_BY_CONTINENT
			            FROM COUNTRY
			            GROUP BY CONTINENT)
			SELECT CONTINENT, COUNTRY.NAME, (CASE WHEN POPULATION/POPULATION_BY_CONTINENT>0.01 THEN 1 ELSE 0 END) AS POPULATION_GT_1_BY_CONTINENT
			FROM COUNTRY JOIN T ON COUNTRY.CONTINENT = T.CONTINENT_T)
SELECT CONTINENT, SUM(POPULATION_GT_1_BY_CONTINENT) AS COUNT_1
FROM TY
GROUP BY CONTINENT
ORDER BY COUNT_1 DESC
LIMIT 5;

## Grouping

The `GROUP BY` clause tells the system to partition the table into groups: then, any aggregates or actions in the SELECT clause are carried out within each group. 

The table returned as final result contains one row per group.

In [ ]:
SELECT REGION, COUNT(*) as HIST
FROM COUNTRY
WHERE CONTINENT= 'Asia'
GROUP BY REGION;

In any SQL query with a `GROUP BY`, the SELECT can only mention attributes that appear in the GROUP BY or `aggregations`of some columns. 

This is because the result of a query is a table consisting of one row per group

In [ ]:
-- This recipe is invalidate - it will return error
-- THIS RECIPE RETURN ERROR, SINCE POPULATION DON'T APPEAR IN LIKE A GRUPING COLUMN NEITHER
-- IS NOT AN AGGREGATION
SELECT REGION, POPULATION, COUNT(*) as HIST
FROM COUNTRY
WHERE CONTINENT= 'Asia'
GROUP BY REGION;

In [ ]:
-- Distribution of countries by Asia regions

WITH T AS (SELECT COUNT(*) AS COUNT_REGION_ASIA
			FROM COUNTRY
            WHERE CONTINENT = 'Asia')
SELECT REGION, COUNT(*)/COUNT_REGION_ASIA AS DIST
FROM COUNTRY, T
WHERE CONTINENT = 'Asia'
GROUP BY REGION;

In [ ]:
-- GROUP BY and CASE

WITH T AS (select Continent, LifeExpectancy, (case when LifeExpectancy > 80 then "High" 
													when LifeExpectancy > 70 then "Medium"
													when LifeExpectancy > 50 then "Low" 
													else "Bad" end) as Classification
			from country)
SELECT Continent, Classification, COUNT(Classification)
FROM T
GROUP BY Continent, Classification
ORDER BY Continent, Classification;

In [ ]:
SELECT CONTINENT, SUM(CASE WHEN LifeExpectancy < 50 THEN 1 ELSE 0 end ) as  "Bad",
				  SUM(CASE WHEN LifeExpectancy BETWEEN 50 and 70 THEN 1 ELSE 0 end) as  "Low",
				  SUM(CASE WHEN LifeExpectancy BETWEEN 70 and 80 THEN 1 ELSE 0 end) as  "Medium",
				  SUM(CASE WHEN LifeExpectancy > 80 THEN 1 ELSE 0 end ) as  "High"
FROM COUNTRY
GROUP BY CONTINENT;

-- STEPS OF THE COMPUTATIONS
-- 1. GROUP BY CONTINENT
-- 2. COMPUTE THE CASE WHEN
-- 3. COMPUTE THE AGGREGATION FUNCTION SUM
-- 4. THIS IS ASSIGNED LIKE BAD, LOW, ...

An additional tool for this type of analysis is the `HAVING` clause. 

This clause can only be used with GROUP BY, never on its own. 

The reason is that HAVING puts a condition on partitions

In [ ]:
-- We are searching crowed regions

WITH T AS (SELECT COUNT(*) AS TOTAL_ASIA FROM COUNTRY
            WHERE CONTINENT='Asia')
SELECT REGION, COUNT(*)/TOTAL_ASIA AS DISTRIBUTIONS
FROM COUNTRY, T
WHERE CONTINENT='Asia'
GROUP BY REGION
HAVING DISTRIBUTIONS>0.10;

## Order

Sometimes we want results that are ordered.

For these cases, SQL has an additional clause, ORDER BY, which allows us to impose an order on the result of a query. 

The `ORDER BY`, if used, is added after any `WHERE` or `GROUP BY` clauses.

In [ ]:
SELECT NAME, COUNT(LANGUAGE) AS SPOKEN_LANGUAGE
FROM COUNTRYLANGUAGE, COUNTRY
WHERE `Code` = CountryCode
GROUP BY NAME
HAVING SPOKEN_LANGUAGE>10
ORDER BY SPOKEN_LANGUAGE DESC;

`LIMIT n` means that the system will return at most n rows as answer.

`LIMIT` is combined with `ORDER BY` to answer top k queries: these are questions when we want the most important k elements in the answer

In [ ]:
-- TOP 5 REGIONS AREA
SELECT REGION, SUM(SurfaceArea) as AREA
FROM COUNTRY
GROUP BY REGION
ORDER BY AREA DESC
LIMIT 5;

`OFFSET` 20 means skip the first 20 rows

In [ ]:
-- TOP 5 REGIONS AREA
SELECT REGION, SUM(SurfaceArea) as AREA
FROM COUNTRY
GROUP BY REGION
ORDER BY AREA DESC
limit 5 OFFSET 20 ;

Complex Queries

`WITH` clause is other way that one can get a subquery.

It' is preferred by some programmers as it makes more clear that we are creating a temporary table for further computation.

Another reason to use WITH is that it can be combined with subqueries in FROM clause for complex cases where several queries are required.

In [ ]:
WITH T AS (SELECT DATE(SALE_DATE) AS SALE_DATE, SUM(QUANTITY) AS SUM_QUANTITY
			FROM SALES_NORMALIZE
			GROUP BY SALE_DATE)
SELECT SALE_DATE, AVG(SUM_QUANTITY) AS AVERAGE, STD(SUM_QUANTITY)
FROM T
GROUP BY SALE_DATE
ORDER BY AVERAGE DESC;

#### Drop and Add a column

In [ ]:
-- DROP A COLUMN IN A TABLE 
ALTER TABLE nameTable
DROP COLUMN nameColumn;

-- ADD A COLUMN IN A TABLE 
ALTER TABLE nameTable
ADD nameColumn typeData AS values;

In [ ]:
ALTER TABLE SALES_NORMALIZE
ADD YEARS INTEGER AS (YEAR(SALE_DATE)),
ADD MONHTS INTEGER AS (MONTH(SALE_DATE)),
ADD DAYS INTEGER AS (DAY(SALE_DATE)),
ADD HOURS INTEGER AS (HOUR(SALE_DATE)); 

-- ALTER TABLE SALES_NORMALIZE
-- DROP YEARS,
-- DROP MONHTS,
-- DROP DAYS,
-- DROP HOURS;

Breaking down an answer into steps, writing a query for each step, and then combining the queries to obtain a final result is a good tactic when using SQL

## Clean Data

* *Proper data* We need to make sure that values are of the right kind and are in a proper format.  when we load data into the database we must make sure that values are read correctly. In spite of our efforts, we may end up with numbers that are read as strings (because of commas in the values, or other problems), or dates that are not recognized as such and also read as plain strings. Even if the data is read correctly, the format may
be not appropriate for analysis.

* *Missing values* refers exclusively to records that are present in the dataset but are not complete—in other words,
missing attribute values. The general strategies are to ignore (delete) the affected data (either the attribute or the record), or to predict (also called impute) the absent values from other values of the same attribute or from value of other
attributes. 

* *Outliers*. Outliers are data values that have characteristics that are very different from the characteristics of most other data values in the same attribute.

* *Duplicate data.*

### Attribute transformations 

Attribute transformations  are operations that transform the values of an attribute to a certain format or range.

* *Categorical attributes*: a typical transformation is normalization standardization.

* For *numerical attributes*, typical transformations include scaling and normalization

* **Normalization** consists of making sure that all values are expressed using a
known quantity as the unit. The typical example is the z-score, where values are
expressed in terms of standard deviations from the mean:

$$Z(v) = (x − μ)/ \sigma$$

The normalization and the other tranformations we will do respect to `date(year, month, day)`

#### Create View

In [ ]:
CREATE VIEW nameView as (SELECT * FROM tableName);

In [ ]:
-- CREATE A VIEW T
CREATE VIEW T AS (SELECT YEARS, MONTHS, DAYS, HOURS, SUM(quantity) AS TOTAL 
				  FROM SALES_NORMALIZE
				  GROUP BY YEARS, MONTHS, DAYS, HOURS);

-- COMPUTE SUM OF qUANTITY AL LEVEL `YEARS, MONTHS, DAYS, HOURS`

-- CREATE A VIEW T2
CREATE VIEW T2 AS (SELECT YEARS AS YEARS_T2, MONTHS AS MONTHS_T2, DAYS AS DAYS_T2, 
					AVG(TOTAL) AS AVERAGE, MAX(TOTAL) AS MAXIMUN, MIN(TOTAL) AS MINIMUN, STD(TOTAL) AS STANDAR
					FROM T
					GROUP BY YEARS, MONTHS, DAYS);

-- COMPUTE MAX, MIN, AVG AND STD AT `YEARS, MONTHS, DAYS`

In [ ]:
-- NORMALIZATION
WITH TABLE_TOTAL AS (SELECT * 
					 FROM T, T2
					 WHERE T.YEARS = T2.YEARS_T2 AND T.MONTHS = T2.MONTHS_T2 AND T.DAYS = T2.DAYS_T2)
SELECT YEARS, MONTHS, DAYS, HOURS, TOTAL, (TOTAL - AVERAGE)/(STANDAR) AS Z
FROM TABLE_TOTAL;

If the distribution of the data is *skew* , that is, has a disproportionate effect on the tails of the distribution we apply:

* $\ln(x)$, $\sqrt{x}, $ when $x>0$

**Scaling**
* Nature *linear*: transforms all values to a number between $0$ and $1$:

$$x \leftarrow \frac{x- \bar{x}}{\max(x) - \min(x)}$$
* Logistic scaling where value $x$ is mapped to 

$$x \leftarrow \frac{1}{1 + e^{-x}}$$
  
> The logistic function is used when the presence of outliers (very large or very small values) is suspected

In [ ]:
-- ---------------
-- LINEAR SCALING
-- --------------- 

WITH TABLE_TOTAL AS (SELECT * 
					 FROM T, T2
					 WHERE T.YEARS = T2.YEARS_T2 AND T.MONTHS = T2.MONTHS_T2 AND T.DAYS = T2.DAYS_T2)
SELECT YEARS, MONTHS, DAYS, HOURS, TOTAL, (TOTAL - AVERAGE)/(MAXIMUN - MINIMUN) AS MAXMIN
FROM TABLE_TOTAL;

In [ ]:
-- CREATE A TABLE NORMALIZE
CREATE VIEW NORMAL AS 
WITH TABLE_TOTAL AS (SELECT * 
					 FROM T, T2
					 WHERE T.YEARS = T2.YEARS_T2 AND T.MONTHS = T2.MONTHS_T2 AND T.DAYS = T2.DAYS_T2)
SELECT YEARS, MONTHS, DAYS, HOURS, TOTAL, (TOTAL - AVERAGE)/(STANDAR) AS Z
FROM TABLE_TOTAL;

In [ ]:
SELECT 1/(1 + EXP(-Z))
FROM NORMAL;

### Working with Strings

Cleaning categorical attributes means making sure that one and only
one name (string) represents each category.

In [ ]:
CREATE TABLE STUDENT(
    StudentId INT,
    Department CHAR(45)
)

INSERT INTO STUDENT VALUES
(1,"Dept of Economics"),
(2,"Econ"),
(3, "Department of Econ");

UPDATE STUDENT
SET Department = "Economics"
WHERE Department REGEXP '.*Econ.*'

* Functions that clean the string: they change it by getting rid of certain characters or transforming existing characters. Among them are `TRIM()`, `LOWER()`, and `UPPER()`. The inverse of this (adding characters to a string) is called padding,
expressed with `LPAD()`, `RPAD()`, and others.

* Functions that find elements (characters or substrings) within a given string. The most popular ones are `POSITION()` and `STRPOS()`.

* Functions that extract elements of a string or split a string into parts. This includes functions `SUBSTR()` and `SPLIT()`. The inverse of this (putting together several strings into a single one) is usually called concatenation, expressed by `CONCAT()`.

* `LENGTH()`, which returns the number of characters in a string.

*

In [ ]:
-- LENGHT
SET @VARIABLE = "MACROECONOMICS";
SELECT LENGTH(@VARIABLE);

-- LPAD
-- If VARIABLE HAS A LENGHT EqUAL OR LESS 20 SPACES, THEN * IS FILED AT LEFT
SELECT LPAD(@VARIABLE, 20, "*");

-- POSITION
-- TO FIND THE FIRST POSITION OF THE PIECE OF TEXT
SET @VARIABLE = "1 FORM";
SELECT POSITION("FORM" IN @VARIABLE);

-- UPPER AND LOWER
SET @MYNAME = "Jeff";
SELECT UPPER(@MYNAME );

SET @MYNAME = "Jeff";
SELECT LOWER(@MYNAME );

-- SUBSTRING
-- EXTRACT A SUBSTRING FROM A STRING (START AT POSITION 1 (POSITION WHER IS FOUND "AV"), EXTRACT 5 CHARACTERS):
SET @VARIABLE = "Avenger - Ultron Age";
SELECT SUBSTR(@VARIABLE, POSITION("Av" IN @VARIABLE), 7);

-- 1 POINT OUT THE TIMES IN WHICH MUST APPEAR THE "."
-- THE SIGN MINUS (-) START THE COUNTING FROM RIGHT
-- THE MEANING IS: 
-- >EXTRACT ALL STRING FROM THE LEFT UNTIL 1 TIME THE '.' APPEAR. HER THE OUTPUE IS `com`
SELECT SUBSTRING_INDEX("www.google.com", '.', -1);

-- CONCAT STRING `CONCAT(STRING1, STRING2 , ...)`
SELECT CONCAT('10' ,'-05-', '2020');

-- EXTRACT 5 CHARS STARTING AT RIGHT. THE YEAR
SELECT RIGHT("10-05-2020", 4);

-- EXTRACT 5 CHARS STARTING AT LEFT. THE DAY
SELECT LEFT("10-05-2020", 2);


-- CREATE A NEW COLUMN `PRODUCT_ID_STR`
ALTER TABLE SALES_NORMALIZE
ADD COLUMN PRODUCT_ID_STR  CHAR(10) AS (CAST(PRODUCT_ID AS CHAR(10)));

-- GROUP_CONCAT
SELECT YEARS, MONTHS, DAYS, HOURS, GROUP_CONCAT(PRODUCT_ID_STR)
FROM SALES_NORMALIZE
GROUP BY YEARS, MONTHS, DAYS, HOURS;

### Working with Dates

* The SQL standard form for `DATE` is defined as `YYYY-MM-DD`. The reason to adapt this format is that, if sorted, it
yields chronological order.

* The standard for `TIME` is `HH:MM:SS`[.NNNNNNN] (two digits for hours first, followed by two for minutes, followed by two digits for seconds, and optionally seven digits for fractions of a second).

* The SQL standard for `DATETIME` (timestamps) is a `DATE` plus a TIME, separated by a space: `YYYY-MM-DD HH:MM:SS`.
* Some functions:
    * `current_time()`
    * `current_date()`
    * `now()` is equivalent to `current_datetime()`


* [MySQL Date and Time functions ->  mysql.com](https://dev.mysql.com/doc/refman/8.0/en/date-and-time-functions.html)

In [ ]:
-- SELECT THE date
SELECT DATE('2020-12-20 22:12:32');

-- SELECT THE time
SELECT TIME('2020-12-20 22:12:32');

-- add 4 days. Can be other itervals like months, year
SELECT addate('2020-12-20 22:12:32', interval 4 day);

-- diff between dates
SELECT datediff('2021-12-20', '2020-12-20');

-- get a format of date
SELECT date_format('2021-12-20', '%a-%d-%b-%Y') ;

-- more about date -> `https://dev.mysql.com/doc/refman/8.0/en/date-and-time-functions.html#function_date-format`

-- `MAKEDATE(year,dayofyear)`
SELECT MAKEDATE(2015, 90);

-- `str_to_date`
set @mydate = "15-04-2015";
SELECT str_to_date(@mydate, '%d-%m-%Y');

## Missing Data

Recall that SQL’s `Null` is not a value, but an indicator that there is a `hole` in a tuple, i.e. a Null denotes the absence of a value

In [ ]:
USE LINIO_SAMPLE;

SELECT COUNT(*)  AS CURRENT_NULL FROM PRODUCTS
WHERE CURRENT_PRICES IS NULL;

SELECT COUNT(*)  AS CURRENT_NOT_NULL FROM PRODUCTS
WHERE CURRENT_PRICES IS NOT NULL;

As a rule, aggregates ignore `Nulls`, with the exceptions `count`

* `SUM`, `AVG`, `MAX`, `MIN`

When operating in the context of a `GROUP BY` aggregates ignore Nulls.

In [ ]:
SET SQL_SAFE_UPDATES = 0;
ALTER TABLE PRODUCTS ADD COLUMN  CLASSIFICATION CHAR(12);
-- ALTER TABLE PRODUCTS DROP COLUMN  CLASSIFICATION;

UPDATE PRODUCTS
SET CLASSIFICATION = (CASE 
			WHEN CURRENT_PRICES < 30 THEN "Low" 
			WHEN CURRENT_PRICES < 50 THEN "Medium"
            ELSE "High" END);

In [ ]:
-- ADD WRONG COLUMN
ALTER TABLE PRODUCTS ADD COLUMN  WRONG FLOAT;
UPDATE PRODUCTS
SET WRONG = (CASE 
			WHEN CURRENT_PRICES BETWEEN 45 AND 55 THEN NULL
            ELSE CURRENT_PRICES END);

SELECT 
CLASSIFICATION, 
COUNT(*) AS COUNT_TOTAL, 
SUM(CASE WHEN WRONG IS NULL THEN 1 ELSE 0 END) AS COUNT_NULL,
SUM(CASE WHEN WRONG IS NOT NULL THEN 1 ELSE 0 END) AS COUNT_NOT_NULL
FROM PRODUCTS
GROUP BY CLASSIFICATION;

Once nulls are detected and we know which attribute (or attributes) are at fault, both operations are quite easy in SQL—the first one calls for a command like

In [ ]:
-- DELETE THE OBSERVATION FROM tableName IF columnName IS NULL
DELETE FROM tableName
WHERE columnName IS NULL;

In [ ]:
-- FILL THE SPACES NULL WITH ZERO
SELECT COALESCE(WRONG, 0)
FROM PRODUCTS;

In [ ]:
-- THE NULLS IN STRING ARE ""
-- ONE MAY THAT WE CAN FIND THEM IS WITH LENGHT

SELECT COUNT(columnString) FROM tableName WHERE LENGTH(columnString) = 0;

### Outlier Detection

An outlier is a value that is not `normal`, in the sense that it is quite different from other values in a domain. It tends to be extreme (for numerical attributes) and unusual (for categorical attributes). 

* If the value is an error, then we can assing a value normal.
* If the value is a real value, then it is a useful information. 

We can use a confidence of the interval in order to see them or use MAD (Median Absolute Deviation)

In [ ]:
WITH T3  AS (SELECT STD(TOTAL) AS STD_TOTAL, 
				AVG(TOTAL) AS AVG_TOTAL FROM T
				WHERE HOURS = 9)
SELECT *
FROM T,T3
WHERE HOURS = 9 AND (TOTAL > AVG_TOTAL + 2*STD_TOTAL  OR TOTAL < AVG_TOTAL - 2*STD_TOTAL);

### Duplicate Detection and Removal

The task of examining two or more rows and determining whether they refer to the same observation, object, or entity in the real world.

This task is know as *data linkage*

Identification

* If the *Id* is the same and the remaining features are the same simultaneuly. (This is not useful qhen we create artificially the *Id*)

* If two values are very close, we can consider them the same for the purposes of duplicate detection. In this sense we need a measurement of distance, small distance point out the values are similar.

* There are some funtions for string, but for numerical values we have to define the distance.
  * Distances are comparable across domains.
  * The *denominator* is the largest possible distance between two items and serves to normalize the result


$$\text{dist}(r, s) = \sum_{k=1}^{n} \frac{ \text{dist}_k(r.A_k, s.A_k )}{\max{\text{dist}_k}}$$

* If we have the weights we can use to compute the *distance*, $\text{dist}(r, s) = \sum_{k=1}^{n} \frac{ w_k\text{dist}_k(r.A_k, s.A_k )}{\max{\text{dist}_k}}$

In [ ]:
CREATE DATABASE STUDENTS;

-- DROP TABLE table_student;
-- DROP DATABASE STUDENT;

CREATE TABLE STUDENT(
    first_name char(32),
    last_name char(32),
    address_student char(100));

INSERT INTO STUDENT VALUES
('Badfinger', 'British', 'Av. San Martin de Porres 906'),
('Badfinger', 'British', 'Av. San Martin de Porres 906'),
('Dante', 'Toribio', 'Av. Tacna 784'),
('Maria', 'Mauricia', 'Jr. La Union');

-- To identify duplicates values

SELECT COUNT(*) as count_duplicates, first_name, last_name, address_student
FROM STUDENT
GROUP BY first_name, last_name, address_student
HAVING count_duplicates>1;

-- To identify duplicates values string or how far apart they are
SELECT *
FROM STUDENT
WHERE first_name REGEXP '^[Bb]ad.*';

* When we detect similarity values we can know the inconsistences in the values. Maybe two values can have two different *ages*. What is the True?

## Data Pre-processing

The goal:
* Find the right format to algorithms or analysis.
* Typical operations used at this stage include *aggregation*, *sampling*, *dimensionality reduction*, *feature creation*, *discretization*, and *binarization*

  * *agg*: This operation is compute by *group by*. In this process we change the *level of granularity*. Instead we work with day period, we work with week.

  * *sampling*: This is carry out when we have a large data set.
  * *Discretization*: his is a transformation that changes numerical continuous values to ordinal ones.

In [ ]:
-- SAMPLING. THE SIZE OF THE SAMPLE IS 50. 
SELECT * FROM PRODUCTS ORDER BY RAND() LIMIT 50;

In [ ]:
-- DISCRETIZATION
SET SQL_SAFE_UPDATES = 0;
ALTER TABLE PRODUCTS ADD COLUMN  CLASSIFICATION CHAR(12);
-- ALTER TABLE PRODUCTS DROP COLUMN  CLASSIFICATION;

UPDATE PRODUCTS
SET CLASSIFICATION = (CASE 
			WHEN CURRENT_PRICES < 30 THEN "Low" 
			WHEN CURRENT_PRICES < 50 THEN "Medium"
            ELSE "High" END);

**Restructuring Data**

* This is neccessary when the data is not *tidy*.  since most Data Mining and Machine Learning tools assume that all the data is presented as a single tabular structure.

* Applying *pivot*

In [ ]:
CREATE TABLE Earthquakes(
    Magnitude FLOAT, 
    Y2000 INT,
    Y2001 INT,
    Y2002 INT,
    Y2003 INT
);

INSERT INTO Earthquakes VALUES 
(4.8, 1, 2, 3,6),
(3.1, 3, 0, 5, 1),
(2.9, 2, 0, 0, 4),
(5, 1, 1, 2, 1)


CREATE TEMPORARY table tmp(year_n INT);

INSERT INTO tmp VALUES (2000), (2001), (2002), (2003);

CREATE TABLE earthquatesTidy AS
(SELECT Magnitude, year_n, sum(
    CASE WHEN year_n = 2000 THEN Y2000
    WHEN year_n = 2001 THEN Y2001
    WHEN year_n = 2002 THEN Y2002
    WHEN year_n = 2003 THEN Y2003
    ELSE 0 END) as numberquakes
FROM Earthquakes, tmp
GROUP BY Magnitude, year_n);

In [ ]:
-- CREATE A NEW TABLE BASED ONE ORIGINAL
CREATE TABLE new_tbl LIKE orig_tbl;

In [ ]:
-- To recover what we had above
SELECT 
Magnitude,
sum(CASE WHEN year_n = 2000 THEN numberquakes ELSE 0 END) as Y2000,
sum(CASE WHEN year_n = 2001 THEN numberquakes ELSE 0 END) as Y2001,
sum(CASE WHEN year_n = 2002 THEN numberquakes ELSE 0 END) as Y2002
FROM earthquatesTidy
GROUP BY magnitude;

**Creating Dummy Variables**

In [ ]:
CREATE TABLE SIMPLE_TAB (
    NAME_TAB CHAR(50),
    CATEGORY CHAR(10)
);

INSERT INTO SIMPLE_TAB VALUES
('Jones', 'A'),
('Jones', 'C'),
('Smith', 'B'),
('Lewis', 'B'),
('Lewis', 'C');

SELECT NAME_TAB,
sum(CASE WHEN CATEGORY = "A" then 1 ELSE 0 END) AS A,
sum(CASE WHEN CATEGORY = "B" then 1 ELSE 0 END) AS B,
sum(CASE WHEN CATEGORY = "C" then 1 ELSE 0 END) AS C
FROM SIMPLE_TAB
GROUP BY NAME_TAB;

## Metadata and Implementing Workflows

We sometimes modify the original, raw data, generating new datasets. 

We need to manage all these datasets and keep track of how they were created and why. The step-by-step transformation of the data is sometimes called a `workflow`, as it corresponds to a sequence of actions applied to the data or to the results of earlier actions.

* Most actions can be done in two modes: *destructive* and *non-destructive*:

  * *Destructive mode*, the action changes some data, so that the old version of it is lost, and a new version put in its place. 
  
  * In *non-destructive mode*, data is transformed by generating a new version, but keeping the old data (making a copy). 

* But an action can be classified as *reversible* or *non-reversible*:
  
  * A *reversible action* After concatenating two strings using some character c as separator, we  can split by the character c and go back to original variables.
    
  * A *non-reversible action*, in contrast, cannot be undone: for instance, trimming whitespaces from a string cannot be undone unless we note, for each string, how many whitespaces were deleted, and where they appeared—without this, we cannot recreate the original string from the modified one.

* If we implemented a *non-destrctive mode* the *non-reversible action* can be reversed, since we have a copy of the old data. In this case we must care about the *extra storage*.

* In databases, a destructive action is implemented by an `UPDATE` statement.

In [ ]:
CREATE TEMPORARY table tmp(
IND INT,
BOOK TEXT,
AUTHOR TEXT,
PUBLISHING TEXT,
PAG INT);
-- DROP TEMPORARY table  TMP;	
SELECT * FROM TMP;

INSERT INTO TMP VALUES
(1, "Harry Potter", "J.K.Rowing", "Bloomsbury Publishing", 500),
(2, "La tentacion del fracaso", "Juio Ramón Ribeyro","Planeta", 704),
(3 , "Cien años de soledad", "Gabriel Garcia Marquez", "Sudamericana", 496);

UPDATE TMP SET BOOK = UPPER(BOOK);

* This is called an in-place update because the space used by the attribute is reused
for the new value; the old value is gone.

* In contrast, a *non-destructive action* is implemented by adding the result of a change as a new attribute in the table, or creating a brand new table.

In [ ]:
-- Add new column in table

ALTER TABLE books ADD column autor_num_pages CHAR(120);

ALTER TABLE books MODIFY num_pages CHAR(20);

UPDATE books
SET autor_num_pages = CONCAT(title,"_" , num_pages);

-- CREATE A NEW TABLE THAT INCLUDE OUR NEW COLUMN
CREATE TEMPORARY TABLE TMP1 AS
SELECT IND, BOOK, AUTHOR, PUBLISHING, PAG, CONCAT(BOOK,"-" , AUTHOR) as BOOK_AUTHOR
FROM TMP;

A `view` is a virtual table, one that is defined through a query.

In [ ]:
USE LINIO_SAMPLE;
CREATE VIEW VIEW1 AS
(SELECT *
FROM PRODUCTS);

The view’s schema is defined, implicitly, by the query used. The view inherits the attribute names from the table used. If new names are desired, they can be specified. And we can pass some conditions.

The view does not actually have data of its own. 

If we want to see what is in a view, the system simply runs the query that was used in the view definition. As a result, if the tables used in the query that defined the view change, the view itself changes accordingly. 

Note that, since the view is not actually stored, no extra space is needed for views. On top of that, we can
define views using already-defined views, so that this approach can be used for complex workflows.

## Metadata

*Data about data*

Having metadata is highly beneficial:

* To operate meaningfully in data, we must only carry out operations that make sense for that data: it makes no sense to add a temperature and a height

* Having metadata can guide our decision as to how to clean and preprocess the data.

* Sometimes data analysis will reveal that a transformation was not quite appropriate; we may want to undo the effects of the change and perhaps try something different.

* If we need to share/export our data, we need to explain what the data are for others to be able to use them.

* Very frequently data collected for a certain purpose is reused later for different projects, with different goals. Hence, it is important to understand what the data was originally meant to represent, and how it has been transformed.

* It provides a trace of how data came to be, metadata is crucial in helping with repeatability of analysis in order to generate reproducible results.

* There are many diverse classifications of metadata in the literature:

  * *Structural metadata*: for both structured and semistructured data, metadata should include the schema or a given dataset and also a description and classification of the domain of each attribute in the schema.

  * *domain metadata*: 
    
    * Syntactic: Type of value is the data (numerical or categorical). 
    
      For **numerical**: *range* of the values and values tiptical, the *unit*, *precision* and *scale*. 

      e.g. `85` given its units: `thousand` and scale `Canadian dollars` means `CAN $85,000`

      For **categorical**: the *pattern*.

      e.g. `2020-10-09` given the pattern `year-month-day` we don't confuce between october 9th or september 10th.


    * Semantic:  refers to what the data is supposed to represent.

      e.g. price:  may give the price of a product, but this may be before or after taxes, with or without discounts. Here we must define the attribute.

      e.g. FY15: can be refer `Females Younger than 15` or `Fiscal Year 2015`.So a good definition is valuable

      e.g. 1-5 customer satisfaction. We hahe to know if the heights value is the more satisfaction.

    * Provenance/lineage metadata: this describes where data comes from.

      * *Provenance* 
      
        * In the first sense is a way to explain how data was obtained. It should describe the source (for instance, a sensor, a web page, or a file) and the date when data was obtained. It is useful to list constraints and assumptions under which the data was generated.

        * The second sense of provenance applies to datasets generated by manipulating data through the data life cycle process: by cleaning, pre-processing, analyzing, etc. If we fill the null values by mean, we must document it.

    * Quality metadata: this is a description of how good the data is. This metadata may not be available at all when data is acquired and may have to be generated after the EDA step. Nevertheless, it is an important aspect to document, since many datasets are found to contain problems that affect their usefulness. 

      * *Accuracy*: how close the represented value is to the actual value.

      * *Completeness*: In a relational database, we can talk of `schema completeness` (do we have all entities and attributes needed?), `column completeness` (how many values are missing in an attribute?), and `population completeness` (do we have all values from the domain?).The latter is especially important since many datasets are samples from an underlying population.

      * *Consistency*: this measures whether the data as a whole is sound; it answers the question: are there contradictions in or across records? Sometimes a record may contain inconsistencies; for example, a person record with a name like `Jim Jones` and `female` for `sex`.

      * *Timeliness*: this refers to value changes along time. We want to know, mainly, two things: how often data changes ( volatility) and how long ago was data created and/or acquired (currency); the two of them together determine whether the data is still valid.

* When is metadata generated? Ideally, metadata should be created at the acquisition/storage stage, when data is first acquired. But if this data don't have, we can generate one, after EDA.

* We can create a table with the following schema:`(attribute-name, representation, domain, provenance, accuracy, completeness, consistency, currency, precision, certainty)`

* Each time an action is carried out, the effect should be registered. Thus, a second table for each dataset should be added to describe actions. For each action, we want to register

  * the attribute or attributes affected by the action;
  * the change made (and any functions applied);
  * the values of any parameters used by the functions;
  * when the action was carried out;
  * why it was carried out;
  * who carried the action out.

## More SQL

### More on Joins

`join` by default has the `inner` behaviour, so, that mean if there are values that don't match, those are deleted. This effect is called *existecial effect*.

Sometimes this is useful, but not always.

The table sales record the sales of the employees that sales some product. If the the employee din't go to work this will never appear in the tables sales, but in the table emp will.

We want to measure the performance of the employees, specially, of the employees with bottom performance. This can be achieve adding the sales make by each employee.

As we can said `join` by default has the `inner` behaviour, so if we use this the results will be missing. Here won't appear eth employees that will be sick.

So we need to add `left outer` to command `join`, this keeping the values of the all employees althought they don't sell anything

When we join tables we must analyze the effects of using `inner`, `outer`, `right` or `left`

In [ ]:
CREATE DATABASE IF NOT EXISTS SOUL;
USE SOUL;
-- SHOW TABLES FROM SOUL;
-- DROP DATABASE SOUL;
-- DROP TABLE SALES;


SELECT IDX, SUM(SALES) AS SALES_EMP
FROM EMPLOYEES LEFT OUTER JOIN SALES ON (SALES.IDX_EMP = EMPLOYEES.IDX)
GROUP BY IDX ;

*multiplicative effect*

When a tuple in table R matches several tuples in table S, this tuple gets repeated as many times as there are matches.

<div align = "center">
    <img src= "./assets/img/multiplicative-effects.png" />
    <img src= "./assets/img/multiplicative-effects-1.png" />
<div>

We must try to avoid this joining. The solution is join by parts, `branch` and `loan` by one hand, and `brach` and `account` by the other hand.

In each join we do the calculation that we can do.

### Complex subqueries

* Aggregated subqueries

In [ ]:
WITH T3  AS (SELECT YEARS AS YEARS_T3, MONTHS AS MONTHS_T3, DAYS AS DAYS_T3, AVG(TOTAL) AS AVERAGE
			 FROM T
             GROUP BY YEARS, MONTHS, DAYS)
SELECT YEARS, MONTHS, DAYS, HOURS, TOTAL,AVERAGE, TOTAL > AVERAGE AS GT
FROM T JOIN T3 ON (T.YEARS = T3.YEARS_T3 && T.MONTHS = T3.MONTHS_T3 && T.DAYS = T3.DAYS_T3);

* Subqueries with (NOT) IN

Employees that didn't work

In [ ]:
SELECT *
FROM SALES_NORMALIZE
WHERE PRODUCT_ID IN (SELECT PRODUCT_ID
					 FROM PRODUCTS
					 WHERE CURRENT_PRICES>50);

Show the sales whose prices of products are greater than 50

* Subqueries with (NOT) EXISTS

EXISTS is satisfied if the subquery answer is not empty. In this case, there aren't products with prices greater than 60, so the query don't return any records

In [ ]:
SELECT COUNT(*)
FROM  SALES_NORMALIZE
WHERE PRODUCT_ID AND EXISTS(SELECT PRODUCT_ID
							FROM PRODUCTS
							WHERE CURRENT_PRICES>60);

* Subqueries with ANY, ALL

In [ ]:
-- BOTH RETURN THE SAME RESULTS

SELECT *
FROM  SALES_NORMALIZES
WHERE SALE_PRICE >= ANY(SELECT MAX(CURRENT_PRICES) FROM PRODUCTS);


SELECT COUNT(*)
FROM  SALES_NORMALIZE
WHERE SALE_PRICE >= (SELECT MAX(CURRENT_PRICES) FROM PRODUCTS);

## Windows and Window Aggregates

A *window* is a set of rows from a table, specified by the user, on which certain calculations are performed

In [ ]:
SELECT YEARS, MONTHS, DAYS,HOURS, AVG(TOTAL) OVER W
FROM T 
WINDOW W AS (PARTITION BY YEARS, MONTHS, DAYS ORDER BY HOURS ROWS 2 PRECEDING);

The partition done is by (YEAR, MONTH, DAY), each partition is ordered by HOURS. then we use the the current record and the 2 predecing to compute the average.

This is moving average by 3 days.

In [ ]:
SELECT YEARS, MONTHS, DAYS,HOURS, SUM(TOTAL) OVER W as CUMSUM
FROM T 
WINDOW W AS (PARTITION BY YEARS, MONTHS, DAYS ORDER BY HOURS ROWS BETWEEN UNBOUNDED PRECEDING AND  CURRENT ROW);

The above code compute the cumulative sum in each window. The cumulative sum is done by hours

**Multiple windows** can be defined in the same query

This compute the quantity by all, grouping by seller_id and grouping by (year, month, day)

In [ ]:
SELECT YEARS, MONTHS, DAYS, SELLER_ID, PRODUCT_ID, 
AVG(quantity) OVER W,
AVG(quantity) OVER W1,
AVG(quantity) OVER W2   
FROM SALES_NORMALIZE
WINDOW W AS (),
W1 AS (PARTITION BY SELLER_ID),
W2 AS (PARTITION BY YEARS, MONTHS, DAYS);

We can **reuse a window**

If we don't specify the number of rows that can take to comptute the aggregation, by default it uses all the window. This happen in `W`.

Then we reuse this windows `W` to compute cummulative sum by hours.

In [ ]:
SELECT YEARS, MONTHS, DAYS, HOURS, quantity,
AVG(quantity) over W,
SUM(quantity) over W1 AS CUMSUM
FROM SALES_NORMALIZE
WINDOW W AS (PARTITION BY YEARS, MONTHS, DAYS, HOURS ORDER BY YEARS, MONTHS, DAYS, HOURS),
W1 AS (W ROWS BETWEEN UNBOUNDED PRECEDING AND  CURRENT ROW);

**RANKING**

Given the partition and the order passed in the window, we rank over total. Create a new column called RANKING that start at 1 and end in the lenght of the window.

In [ ]:
SELECT YEARS, MONTHS, DAYS, HOURS, TOTAL,
RANK() OVER W AS RANKING
FROM T
WINDOW W AS (PARTITION BY YEARS, MONTHS, DAYS ORDER BY TOTAL);

We use above table to see the hours where the quantity is lower.

In [ ]:
WITH T3 AS (SELECT YEARS, MONTHS, DAYS, HOURS, TOTAL,
			RANK() OVER W AS RANKING
			FROM T
			WINDOW W AS (PARTITION BY YEARS, MONTHS, DAYS ORDER BY TOTAL))
SELECT HOURS, COUNT(*) AS BOTTOM
FROM T3
WHERE RANKING < 4
GROUP BY HOURS
ORDER BY BOTTOM DESC;

**PERCENT RANK**

In [ ]:
-- --------------------
-- --- PERCENT RANK ---
-- --------------------

SELECT YEARS, MONTHS, DAYS, HOURS, TOTAL,
PERCENT_RANK() OVER W AS RANKING
FROM T
WINDOW W AS (PARTITION BY YEARS, MONTHS, DAYS ORDER BY TOTAL);

**ntile**

compute the distance  and lag(called diff)

**Rollup and Cube**

https://dev.mysql.com/doc/refman/8.0/en/group-by-modifiers.html

## Set Operations

To perform this operation is needed the squemas are the same, that is, the name coumns and the data types.

In [ ]:
CREATE VIEW T2017 AS 
(SELECT * FROM T WHERE YEARS = 2017);
CREATE VIEW T2018 AS 
(SELECT * FROM T WHERE YEARS = 2018);
CREATE VIEW T2019 AS 
(SELECT * FROM T WHERE YEARS = 2019);


SELECT * FROM T2017
UNION 
SELECT * FROM T2018
UNION 
SELECT * FROM T2019;

## Python and Databases: DB-API

Since Python is an object-oriented language (at least in its current version), the DB-API works by creating objects and using the methods attached to those objects. Two types of objects are used: connection objects and cursor objects. A DB-API access works as follows:

1. first, the program must establish a connection to the database. This is achieved
through the connect method that takes in a URL, a user name, and a password
and returns a connection object. The method establishes a connection with the
database server at the given URL, as a user with the credentials provided.
2. the connection object can be used to create a cursor object, with the cursor()
method. The cursor object is the one that will be used to send and execute SQL
commands.
3. The cursor object has an execute method that takes in as parameter a string
representing an SQL command. This command is sent to the database server and
executed.
4. When the command is an SQL SELECT, a result is returned to the cursor object.
This result can be retrieved with a variety of fetch commands:
    * `fetchall()` will take the whole result and deposit it in a Python variable
of type array, with each element of the array representing a record and being
itself an array. A typical access with this method will use fetchall() to
deposit the result of a query in a Python list and then iterate over the list
with a for loop, doing whatever is needed on each row (see example below).
However, this can be quite slow if the result returned from the database is very
large.
    * `fetchone()` will pick a row of the result at random. The typical approach
is to call fetchone() inside a loop. This works for large datasets but makes
access row-based. When using this function, the value None is returned when
no more rows are left; a typical loop (assuming variable cur is the cursor
object) is:
        ```python
        while True:
        record = cur.fetchone()
        if record == None:
        break
        ``` 
        
    * An intermediate approach is to use `fetchmany(size=n)` where n tuples are
returned at once (when there are fewer than n rows left, the method simply
returns; however, many rows are left). This method is also used inside a loop
but can be more efficient than fetchone()

### Using `sqlalchemy`

More information about sqlAlchemy

In [19]:
import MySQLdb
import pandas as pd
from dotenv import dotenv_values
from sqlalchemy import create_engine

The engine needs pass URI

e.g. `mysql://user:password@host/db`

In [20]:
config = dotenv_values('./env/.env')
conn = create_engine(config['URI'])

In [22]:
sales_normalize = pd.read_sql("SELECT * FROM sales_normalize",conn)

In [27]:
print("Shape:",sales_normalize.shape)

Shape: (99860, 11)

We can use the `conn` to use `mysql-API` and execeute any query

In [38]:
result = conn.execute('select * from sales_normalize limit 5')
result.fetchall()

[(12545.0, 38.1251, 2.0, None, 10519.0, 40000.0, datetime.datetime(2017, 7, 3, 9, 0), 2017, 7, 3, 9),
 (15392.0, 37.5076, 2.0, None, 10519.0, 40000.0, datetime.datetime(2017, 7, 3, 9, 0), 2017, 7, 3, 9),
 (18190.0, 31.8646, 1.0, None, 10519.0, 40000.0, datetime.datetime(2017, 7, 3, 9, 0), 2017, 7, 3, 9),
 (19564.0, 32.1816, 2.0, None, 10519.0, 40000.0, datetime.datetime(2017, 7, 3, 9, 0), 2017, 7, 3, 9),
 (10317.0, 33.2485, 2.0, None, 10519.0, 40000.0, datetime.datetime(2017, 7, 3, 9, 0), 2017, 7, 3, 9)]

Fetch can be used once, the next time the result will be an empty list

In [40]:
result.fetchall()

[]

## Using ODBC

* Install the *ODBC* for the specific version
  * Here you can find the ODBC version and the summarize of the main features, especically the version with MySql version works each version , https://dev.mysql.com/doc/connector-odbc/en/connector-odbc-versions.html
  * Once you'vs chosen the version, you can download in https://downloads.mysql.com/archives/c-odbc/ (download the MSI installer)

In [12]:
import pyodbc

In [12]:
# This name depent on the version of the ODBC
driver = '{MySQL ODBC 8.0 ANSI Driver}'
server = config['SERVER']
database = config['DB']
username = config['USER']
password = config['PASSWORD']

cnxn = pyodbc.connect(Driver=driver, Server=server, Database=database, Uid=username,
                      Pwd=password)

cursor = cnxn.cursor()

# vainilla intance
reponse = cursor.execute("select * from city limit 10;")

for item in reponse.fetchall():
    print(item)

(1, 'Kabul', 'AFG', 'Kabol', 1780000)
(2, 'Qandahar', 'AFG', 'Qandahar', 237500)
(3, 'Herat', 'AFG', 'Herat', 186800)
(4, 'Mazar-e-Sharif', 'AFG', 'Balkh', 127800)
(5, 'Amsterdam', 'NLD', 'Noord-Holland', 731200)
(6, 'Rotterdam', 'NLD', 'Zuid-Holland', 593321)
(7, 'Haag', 'NLD', 'Zuid-Holland', 440900)
(8, 'Utrecht', 'NLD', 'Utrecht', 234323)
(9, 'Eindhoven', 'NLD', 'Noord-Brabant', 201843)
(10, 'Tilburg', 'NLD', 'Noord-Brabant', 193238)